body {
  color: #ddd;
  background-color: #323;
}

a {
  color: #9ad;
}

h1, h2, h3, h4, h5, h6 {
  color: #eee;
}

strong {
  color: #dfdfdf;
}

code {
  padding: .25em .33em .1em .33em;
  font-size: 80%;
  color: #000;
  background-color: #b0a3b0;
  border-radius: 2px;
}

pre {
  background-color: #b0a3b0;
}

::-moz-selection { color: #000; background: #fff}
::selection { color: #000; }

blockquote {
  color: #bbb;
}

.post-title a {
  color: #9ad;
}

.post-date {
  display: block;
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
  color: #767;
  font-size: 90%;
}

.pagination {
  color: #767;
}

.pagination-item {
  padding: .5em;
  border: 1px solid #767;
}

.tags {
  text-align: left;
  border: 0px dotted #eee;
}

.tag {
  display: inline-block;
  padding-top: .05em;
  padding-bottom: 0em;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0px;
  border: 0px solid #ddd;
  background: #545;
  border-radius: 2px;
  font-size: smaller;
}

.tag:hover {
  background-color: #323;
}

div.hsidebar, .hsidebar {
  background-color: #212;
}

.sidebar-about h1 {
  font-family: "Abril Fatface", serif;
  font-size: 2.75rem;
}

.sidebar-about p {
  color: #878;
  line-height: 1.33;
  margin-bottom: 1em;
  margin-top: 1em
}

.copyright{
  color: #878
}
